:root {
  --branding-color: #8549f5;
}

h1 {
  font-family: "Playfair Display", serif;
  font-size: 96px;
  text-align: center;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: lighter;
}

h4 {
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  margin-top: 100px;
}

.homepage {
  text-align: center;
}

.btn-primary {
  margin-top: 30px;
  margin-bottom: 30px;
  background: var(--branding-color);
  border-color: var(--branding-color);
}

.btn-primary:hover {
  background: var(--branding-color);
  border-color: var(--branding-color);
}

.feature {
  text-align: center;
  font-family: "Poppins", sans-serif;
  margin-top: 75px;
  margin-bottom: 80px;
}

.btn-weather {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
}

.btn-weather:hover {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
}

.weather-grid {
  padding: 120px 60px;
}

.weather-text {
  font-family: "Playfair Display", sans-serif;
  font-size: 45px;
}

.btn-bakery {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
}

.btn-bakery:hover {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
}

.bakery-grid {
  padding: 120px 60px;
}

.bakery-text {
  font-family: "Playfair Display", sans-serif;
  font-size: 45px;
}

.social {
  text-align: center;
  font-family: "Poppins", sans-serif;
  margin-top: 30px;
  margin-bottom: 20px;
}

@media (max-width: 900px) {
  h1 {
    font-size: 60px;
  }
}

.social-links {
  font-size: 30px;
  text-align: center;
  margin-bottom: 30px;
  color: #8549f5;
}

.about-text {
  text-align: center;
  font-family: "Poppins", sans-serif;
  margin-top: 150px;
}

.btn-about {
  margin-top: 30px;
  margin-bottom: 30px;
  background: var(--branding-color);
  border-color: var(--branding-color);
  color: white;
}

.btn-about:hover {
  background: var(--branding-color);
  border-color: var(--branding-color);
  color: white;
}

.name {
  font-family: "Playfair Display", sans-serif;
  font-size: 40px;
}

.work-heading {
  font-family: "Playfair Display", sans-serif;
  font-size: 40px;
  text-align: center;
  margin-top: 60px;
}

.contact-heading {
  font-family: "Playfair Display", sans-serif;
  font-size: 40px;
  text-align: center;
  margin-top: 60px;
}

.projects-section {
  text-align: center;
  margin-bottom: 50px;
}

.work-text {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}

.contact-button {
  text-align: center;
}

.navbar-nav {
  margin-left: auto;
}

.social-media {
  color: #8549f5;
  margin: 0 20px;
}
