h1 {
  font-family: "Playfair Display", serif;
  font-size: 96px;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: lighter;
}

h4 {
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  margin-top: 30px;
}

.homepage {
  text-align: center;
}
